<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingLogFileAppender"
      type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="C:\Logs\log4netdemo.log" />
    <datePattern value="yyyy-MM-dd.'txt'"/>
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <maxSizeRollBackups value="100"/>
    <maximumFileSize value="15MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern
        value="%date [%thread] %-5level App  %newline %message %newline %newline"/>
    </layout>
  </appender>
  <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level App  %newline %message %newline %newline" />
    </layout>
    <threshold value="DEBUG" />
    <InstrumentationKey value="xxxxx" />
  </appender>

	<appender name="GeneralFileAppender" type="log4net.Azure.Storage.AzureBlobAppender, log4net.Azure.Storage">
		<BufferSize value="0" />
		<ContainerName value="demo4net"/>
		<DirectoryName value="test-app"/>
		<FileName type="log4net.Util.PatternString" value="log_%date{yyyyMMdd}.log" />
		<!-- You can either specify a connection string or use the ConnectionStringName property instead -->
		<ConnectionString value="xxxxxxx" />
		<!-- <ConnectionStringName value="" /> -->

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level App  %newline %message %newline %newline" />
		</layout>
	</appender>
	
  <root>
    <level value="INFO"/>
    <appender-ref ref="aiAppender" />
    <appender-ref ref="RollingLogFileAppender"/>
	<appender-ref ref="GeneralFileAppender"/>
  </root>
</log4net>