@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-4 col-md-6">

            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">

                    <form asp-controller="Auth" asp-action="Login" method="post">

                        <input class="form-control mb-3" type="text" placeholder="Email" required name="email"/>
                        <input class="form-control mb-3" type="password" placeholder="password" required
                               name="password"/>
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                        @if (ViewData["Message"] != null)
                        {
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Message"]
                                </div>
                            </div>
                        }
                        You don't have an account? <a href="@Url.Action("Register", "Auth")">Register!</a>
                    </form>

                </div>

            </div>

        </div>
    </div>

</div>

</body>
</html>